/* App.css or your CSS file */
.my-masonry-grid {
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

/* Optional: apply a background color & padding for the items */
.my-masonry-grid_column > img {
  margin-bottom: 20px;
}
